//output:../index.html
//{
    title:"Test jade compass build",
    link:"Link"
  }
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title
    link(rel="stylesheet", href="stylesheets/screen.css")
    link(rel="stylesheet", href="stylesheets/presentational.css")
  body
    #mainWrapperX_newX999
      .x99bgWrap
      .headerBannerX
        img(src='https://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/Ankita/12thsept_header_DOD_web.jpg')
      .navMainX_Wrapper
        ul.navMainX_Wrapper_Ul
          li.activeX99.navX99(data-target='first')
            a(href="") All Deals  
          li.navX99(data-target='second')
            a(href="") Category
          li.navX99(data-target='third')
            a(href="") Festive
          li.navX99(data-target='fourth')
            a(href="") Electronics
          li.hamburgerContX(style='display:none')
            .scrollTo_menuX99
              .clickEle.arrowDownX99.active
              .clickEle.arrowCloseX99
            .absWrapX96x
              .relWrapX99
                .menuInnerX99
                  .menuInnerX99_offsetX99
                    .menuSectionX
                      .menu_captionX
                        h3 WOMEN
                      .subMenuSectionX
                        ul
                          li.active(data-target='TopDealsX')
                          li.active(data-target='TopDealsX')
                          li.active(data-target='TopDealsX')
      .sectionOfferWrapper
        .scrollToSectionX.blue#first
        .scrollToSectionX.green#second
        .scrollToSectionX.orange#third
        .scrollToSectionX.purple#fourth

          
                
                
              
              
            
          
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="http://i1.sdlcdn.com/static/img/marketing-mailers/mailer/2016/x_999/scrollToFixed_inVw_debounced_min.js")
  script(src="navModule_jQuery.js")
  //script(src="js/bundle_min.js")            
            
